/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'FiraSans';
  src: local(FiraSans-Regular), url("assets/fonts/fira-sans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'FiraSansBold';
  src: local(FiraSans-Regular), url("assets/fonts/fira-sans/FiraSans-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSansItalic';
  src: local(FiraSans-Regular), url("assets/fonts/fira-sans/FiraSans-Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSansItalic';
  src: local(FiraSans-Regular), url("assets/fonts/fira-sans/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: local(FiraSans-Regular), url("assets/fonts/fira-sans/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: normal;
}

body {
  width: 100%;
  font-family: 'FiraSans';
  font-size: 1em;
  color: #D1472A;
  background-color: #EEF2FE;
}

h1,
div,
h2,
p {
  font-family: 'FiraSans';
  color: #D1472A;

}

.squaredIframe {
  border-radius: 0px !important;
}


/*Scrollbar classes*/

/* .custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  } */

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D9D9D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E45C3F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce5237;


}

.center-small {
  justify-content: center !important;

}

/*Youtube embed classes*/

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 5vh;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*episode styles*/

.EpImg {
  background-image: url('./assets/image/thumb_podcast.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  width: 250px;
}

@media (max-width: 500px) {
  .EpImg {
    width: 175px;
    height: 175px;
  }

  .bannerSize {
    background-position: 76% !important;
  }

  .EpisodeDescription {
    display: none;
  }

  .ButtonHome {
    display: none;
  }

  .ButtonHomeMobile {
    display: block !important;
    font-family: 'FiraSansCondensed';
    background-color: #E45C3F;
    color: #FCE4E4;
    font-size: 22px;
    border: 0;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.6s;
    width: 150px;
    margin-top: 10px;
    text-align: center;
  }

  .ButtonHomeMobile:focus {
    border: 2px solid #ce4224;
  }

  .ButtonHomeMobile:hover {
    background-color: #2cd5dc;
  }

  .redesSociais {
    flex-direction: row;
  }
}

.ButtonHomeMobile {
  display: none;
}

.ButtonHome {
  font-family: 'FiraSansCondensed';
  background-color: #E45C3F;
  color: #FCE4E4;
  font-size: 22px;
  border: 0;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.6s;
  width: 250px;
  margin-top: 25px;
  text-align: center;

}

.ButtonHome:focus {
  border: 2px solid #ce4224;
}

.ButtonHome:hover {
  background-color: #2cd5dc;
}


.EpisodeDescription {
  height: 100px;
  overflow-y: auto;
}

.redesSociais {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 200px;
}

/*Loader*/

@keyframes anim1 {
  0% {
    width: 20px;
    height: 20px;
  }

  50% {
    width: 25px;
    height: 25px;
  }

  100% {
    width: 20px;
    height: 20px;
  }

}

.circle1 {
  width: 20px;
  height: 20px;
  background-color: #E45C3F;
  border-radius: 50%;
  margin: 10px;
  animation-name: anim1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;


}

.circle2 {
  width: 20px;
  height: 20px;
  background-color: #E45C3F;
  border-radius: 50%;
  margin: 10px;
  animation-name: anim1;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;


}


.circle3 {
  width: 20px;
  height: 20px;
  background-color: #E45C3F;
  border-radius: 50%;
  margin: 10px;
  animation-name: anim1;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;


}